[ req ]
default_bits        = 2048
default_md          = sha256
distinguished_name  = subject
prompt              = no

[subject]
countryName            = AU
stateOrProvinceName    = QLD
localityName           = Brisbane
organizationName       = QUT
organizationalUnitName = IFN666
commonName             = www.localhost.com
emailAddress           = sample@mycompany.com
keyUsage =  digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alternate_names ]
DNS.1 = localhost
DNS.2 = www.localhost.com
DNS.3 = localhost.com


